@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
section {
    width: 1440px;
}
header {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1440px;
    height: 800px;
    text-align: center;
}
nav {
    width: 1352px;
    height: 56px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 170px;
    height: 33px;
}
.nav_toogleBtn {
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 467px;
}
nav ul li {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
nav ul li a {
    color: #fff;
}
nav ul li button {
    width: 140px;
    height: 56px;
    border-radius: 28px;
    border: none;
    color: #000;
    font-family: 'Fraunces', serif;
    letter-spacing: 1px;
}
nav ul li button:hover {
    color: #fff;
    background: #77cdf5;
}
header h1 {
    font-size: 56px;
    text-align: center;
    margin-top: 59px;
    color: #fff;
    font-family: 'Fraunces', serif;
    letter-spacing: 8.75px;
    margin-bottom: 97px;
}
main .card {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px); */
    width: 1440px;
    height: 1800px;
}
main .card .brand {
    width: 720px;
    height: 600px;
    float: left;
}
main .card  .margin {
    width: 445px;
    height: 285px;
    margin: 158px;
}
.card  h1 {
    font-size: 40px;
    font-family: 'Fraunces', serif;
    color: #24303e;
   margin-bottom: 32px;
}
.card p {
    font-size: 18px;
    color: #808397;
    margin-bottom: 40px;
    line-height: 30px;
}
.card button {
    width: 137px;
    height: 25px;
    background: transparent;
    border: none;
    border-bottom: 10px solid #fad400;
    font-size: 15px;
    font-family: 'Fraunces', serif;
    padding-top: 4px;
}
.card .audience .margin button {
    border-bottom: 10px solid #fe7766;
    
}
.card .egg {
    width: 720px;
    height: 600px;
    float: right;
}
.card .egg img {
    width: 100%;
}
.card .stand {
    width: 720px;
    height: 600px;
    float: left;
}
.card .audience {
    width: 720px;
    height: 600px;
    float: right;
}
.card .cherry {
    width: 720px;
    height: 600px;
    float: left;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
}
.card .cherry .cherry_info {
    width: 339px;
    height: 143px;
    text-align: center;
    margin: 0 auto;
    margin-top: 380px;
}
.card .cherry .cherry_info h1 {
    margin-bottom: 27px;
    color: #24554a;
    font-size: 28px;
}
.card .cherry .cherry_info p {
    color: #3e7467;
    font-size: 16px;
    line-height: 27px;
}
.card .orange {
    width: 720px;
    height: 600px;
    float: right;
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
}
.card .orange .orange_info {
    width: 339px;
    height: 143px;
    text-align: center;
    margin: 0 auto;
    margin-top: 380px;
}
.card .orange .orange_info h1 {
    margin-bottom: 27px;
    color: #052c3b;
    font-size: 28px;
}
.card .orange .orange_info p {
    color: #19536c;
    font-size: 16px;
    line-height: 27px;
}
.client {
    width: 1440px;
    height: 777px;
}
.client h1 {
    font-size: 20px;
    font-family: 'Fraunces', serif;
    text-align: center;
    padding-top: 160px;
    color: #a7aaad;
    letter-spacing: 5px;
}
.client .user {
    margin: 80px 165px;
    display: flex;
    justify-content: space-between;
}
.client .user img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}
.client .user .emily {
    width: 350px;
    height: 351px;
    text-align: center;
}
.client .user .thomas {
    width: 350px;
    height: 351px;
    text-align: center;
}
.client .user .jennie {
    width: 350px;
    height: 351px;
    text-align: center;
}
.client .user_info {
    margin-bottom: 69px;
    margin-top: 58px;
    font-size: 18px;
    line-height: 32px;
    color: #5b636d;
    width: 350px;
    height: 96px;
    font-family: 'Barlow', sans-serif;
}
.client .user_wrap {
    width: 203px;
    height: 56px;
    margin: 0 auto;
    
}
.client .user_wrap h2 {
    margin-bottom: 19px;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    color: #24303e;
}
.client .user_wrap p {
    font-size: 14px;
    color: #a7aaad;
}
footer {
    width: 100%;
    height: 797px;
    background: #90D4C6;
}
footer .mb_group {
    display: none;
}
footer .group {
    display: flex;
}
footer .group img {
    width: 360px;
    height: 447px;
}
footer .bottom {
    width: 297px;
    height: 206px;
    margin: 72px auto;
    text-align: center;
}
footer .bottom .logo {
    color: #2c7566;
    margin-bottom: 40px;
}
footer .bottom .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}
.bottom .category li {
    color: #458d7e;
    font-size: 18px;
}
.bottom .category li:hover {
    color: #fff;
}
footer .bottom .icon {
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin: 0 auto;
}

@media screen and (max-width: 375px) {
    section {
        width: 375px;
    }
    header {
        width: 375px;
        height: 538px;
        background-image: url(./images/mobile/image-header.jpg);
        background-repeat: no-repeat;
    }
    header h1 {
        width: 327px;
        height: 98px;
        font-size: 40px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    nav{
        width: 327px;
        height: 24px;
        margin-bottom: 88px;
        padding-top: 30px;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    nav img {
        width: 123px;
        height: 24px;
        
    }
    nav ul {
        flex-direction: column;
        width: 329px;
        height: 329px;
        background-color: #fff;
        z-index: 1;
        margin-top: 50px;
        display: none;
        position: relative;
    }
    nav ul::after {
        border-top: 0px solid transparent;
        border-left: 25px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 25px solid #fff;
        content: "";
        position: absolute;
        top: -25px;
        right: 0;

    }
    nav .nav_menu.active {
        display: flex;
    }
    nav ul li {
        padding-bottom: 32px;
    }
    nav ul li:nth-child(1) {
        padding-top: 39px;
    }
    nav ul li:nth-child(4) {
        padding-bottom: 39px;
    }
    nav ul li button {
        background-color: #FBD600;
    }
    nav ul li a {
        color: #808397;

    }
    header .nav_toogleBtn {
        display: block;
        width: 24px;
        height: 18px;
        position: absolute;
        right: 24px;
        top: 30px;
    }
    header .arrow {
        width: 30px;
        height: 107px;
    }
    header .nav_toogleBtn img {
        width: 100%;
    }
    main {
        margin-bottom: 86px;
    }
    main .card {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    main .card .brand {
        width: 375px;
        height: 437px;
    }
    main .card .brand .margin {
        margin: 64px auto;
        width: 327px;
        height: 309px;
        text-align: center;
    }
    main .card .egg {
        order: -1;
        width: 375px;
        height: 312px;
    }
    main .card .stand {
        width: 375px;
        height: 312px;
    }
    main .card .stand img {
        width: 100%;
    }
    main .card .audience {
        width: 375px;
        height: 437px;
    }
    main .card .audience .margin {
        margin: 64px auto;
        width: 327px;
        height: 309px;
        text-align: center;
    }
    main .card .cherry {
        width: 375px;
        height: 600px;
        background-image: url(./images/mobile/image-graphic-design.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    main .card .orange {
        width: 375px;
        height: 600px;
        background-image: url(./images/mobile/image-photography.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    main .client {
        width: 375px;
        height: 1268px;
    }
    main .client h1 {
        margin-bottom: 64px;
    }
    main .client .user {
        flex-direction: column;
        margin: 0;
    }
    main .client .user .emily {
        width: 327px;
        height: 288px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
    main .client .user .user_info {
        width: 327px;
        height: 96px;
        margin: 32px 0;
    }
    main .client .user .thomas {
        width: 327px;
        height: 320px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
    main .client .user .jennie {
        width: 327px;
        height: 288px;
        margin: 0 auto;
    }
    footer {
        height: 725px;
    }
    footer .group {
        display: none;
    }
    footer .mb_group {
        width: 375px;
        height: 375px;
        display: flex;
        flex-wrap: wrap;
    }
    footer .mb_group img {
        width: 187.5px;
        height: 188px;
    }
}